body{
    background-color: #e5e5e5 !important;
    font-family: 'Lantinghei SC', 'Microsoft Yahei';
}
.after{
    &:after{
        display: block;
        content: '';
        clear: both;
    }
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.pd5{
  padding: 5px;
}
.pd10{
    padding: 10px;
}
.pd15{
  padding: 15px;
}
.text-pull-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.bg-white{
    background-color: #fff !important;
}
.bg-green{
    background-color: #1abc9c !important;
}
.color-white{
    color: #fff !important;
}
.color-red{
    color: #f23030 !important;
}
.color-grey{
    color: #999 !important;
}
.color-light-grey{
    color: #a6a6a6 !important;
}
.color-indigo-blue{
  color: #66829a !important;
}
.mh10{
  margin-right: 10px;
  margin-left: 10px;
}
.mh5{
  margin-right: 5px;
  margin-left: 5px;
}
.mh3{
  margin-right: 3px;
  margin-left: 3px;
}
.mv10{
  margin-top: 10px;
  margin-bottom: 10px;
}
.size12{
    font-size: 12px;
}
.size14{
  font-size: 14px;
}
.icon-xs{
    width: 12px !important;
    height: 12px !important;
    margin-right: 3px;
    margin-bottom: 1px;
    display: inline-block;
    vertical-align: middle;
}
.icon-sm{
    .icon-xs;
    width: 20px !important;
    height: 20px !important;
    margin-bottom: 5px;
}
.no-before{
  &:before{
    display: none;
  }
}
.no-after{
  &:after{
    display: none;
  }
}
.scrollBox{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mutilEllipsis(@n){
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: @n;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.mutilEllipsis-2{
  .mutilEllipsis(2);
}
// 新闻列表css
.articleList{
  .article{
    margin-bottom: 10px;
  }
  .weui-media-box__title{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
  }
  .weui-media-box__bottom{
    position: absolute;
    bottom: 6px;
    left: 15px;
    font-size: 14px;
    &>span{
      display: inline-block;
      vertical-align: middle;
    }
    .guoqi{
      width: 30px;
      vertical-align: middle;
    }
  }
  .single-img-box{
    padding-bottom: 35px;
    padding-top: 10px;
    .imgbox{
      &>img{
        display: block;
        width: 100%;
        height: 40vw;
      }
    }
    .weui-media-box__bottom{
      // bottom: 0px;
    }
  }
  .weui-media-box_appmsg{
    align-items: flex-start !important;
    padding: 10px 15px;
    .weui-media-box__hd{
      margin-right: 0 !important;
      margin-left: .8em;
      width: 33.3%;
      height: 20vw;
    }
  }
  .three-img-box{
    padding-bottom: 35px;
    .imgbox{
      &>img{
        width: 100%;
        display: block;
        height: 20vw;
      }
    }
    .weui-media-box__bottom{
      // bottom: 0px;
    }
  }
}
#tlbstoolbar{
  display: none !important;
}













